.vbox{
    -fx-padding: 15px;
}
.table-view {
    -fx-border-color: transparent !important; /* Loại bỏ viền bao ngoài */
    -fx-border-width: 0 !important; /* Đặt độ rộng viền bằng 0 */
    -fx-pref-width: 1050;
    -fx-fixed-cell-size:50;
    -fx-pref-height: 626;
    -fx-max-height: 626;
}

.table-view .table-column-header {
    -fx-border-color: transparent !important;
    -fx-background-color: #00C2FF !important;
    -fx-text-fill: white !important;
}

.table-view .table-row-cell {
    -fx-border-color: #4AD4DD; /* Đặt màu viền giữa các ô cột là màu xanh */
    -fx-border-width: 2 0 0 0; /* Đặt độ rộng viền giữa các ô cột */
    -fx-font-size: 14;
    -fx-font-weight: bold !important;
    -fx-background-color: transparent ;
}

.column {
    -fx-border-color: #4AD4DD; /* Đặt màu viền giữa các ô cột là màu xanh */
    -fx-border-width: 0 2 0 0; /* Đặt độ rộng viền giữa các ô cột */
    -fx-alignment: CENTER_LEFT; /* Căn giữa tiêu đ�� */
}
.column .table-header-cell {

    -fx-padding: 10; /* Padding cho tiêu đề */
}
.search-box{
    -fx-border-color: rgba(74, 212, 221, 0.68);
    -fx-border-width: 2;
    -fx-border-radius: 3;
    -fx-padding: 5;
    -fx-min-width: 300;
}

.table-view .table-row-cell:selected {
    -fx-background-color: rgba(74, 212, 221, 0.63);
}
.button-pagination{
    -fx-background-color: white;
   -fx-text-fill: #4AD4DD;
   -fx-border-radius: 10px;
   -fx-background-radius: 15px;
    -fx-border-color: #4AD4DD;
   -fx-border-width: 2px;
   -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.text-pagination{
    -fx-text-fill: #4AD4DD;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
